language: node_js
node_js:
  - 8

branches:
  only:
    - "master"

cache: yarn

before_script:
  - yarn run lint
  - yarn run build

script:
  - yarn test

after_script:
  - yarn add now
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then
      export NOW_DEPLOY_URL = now --token $NOW_TOKEN --public alias;
      ./script/notify-github.js --msg $NOW_DEPLOY_URL;
    fi'

deploy:
  provider: script
  script: now --token $NOW_TOKEN --public
  on:
    branch: master
  condition: $TRAVIS_EVENT_TYPE = "push"
  skip_cleanup: true
